.container{
    width: 100%;

    height: 100%;
    /*background-color: #F2F2F2;*/
    /*border-radius: 20px;*/
    z-index: 5;
    display: grid;
    grid-template-columns: 0.3fr;
    grid-row-gap: 0.3fr;

    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.79);

}


.container_OfContent{
    margin-top: 70px;
    width: 500px;
    height: 504px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    /*padding-top: 70px;*/
}

.container_OfContent h2{
    font-family: -apple-system;
    color: #12ADEF;
    margin-top: 70px;
}
.container_OfContent input{
    width: 300px;
    height: 30px;
    margin-top: 30px;
    font-size: 22px;
    font-family: -apple-system;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: gray;
    border-bottom-style: solid;
    color: gray;
    outline:none;
}

.container_OfContent input:hover{
    border-bottom-color: #12ADEF;
    color: #12ADEF;
}

.container_OfContent button{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    background-color: gray;
    border: none;
    color: #F2F2F2;
    border-radius: 5px;
    outline: none;
}

.container_OfContent button:hover{
    cursor: pointer;
    background-color: #12ADEF;
    width: 110px;
    height: 33px;

}

.exit{
    margin-left: 405px;
    z-index: 6;
    margin-top: 15px;
}

.exit img{
    width: 20px;
    height: 20px;
}

.exit:hover{
    cursor: pointer;
    color: #46BFF3;
}


.container_OfSubmit{
    margin-top: 150px;
    width: 392px;
    height: 151px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*padding-left: 30px;*/
    /*padding-top: 70px;*/
}

.exitSubmit{
    margin-left: 360px;
    z-index: 6;
    margin-top: 15px;
}

.exitSubmit img{
    width: 20px;
    height: 20px;
}

.exitSubmit:hover{
    cursor: pointer;
    color: #46BFF3;
}

.title{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.mainText{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156.34%;
    /* or 22px */

    text-align: center;

    color: #000000;
}

.container_OfInput{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
    font-size: 11px;
    z-index: 6;
}

